/* add your CSS here */
.overall {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
}

.interesting {
  font-style: italic;
}

.contain {
  border: 1px solid black;
  padding: 5px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  text-indent: 0em;
  text-align: left;
}

span {
  font-weight: bold;
}

img {
  padding-bottom: 10px;
}

h3 {
  font-family: sans-serif;
}